#recentsearch-con{
    padding: 7% 15%;
    background-color:#fefefa;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    text-align: center;
    border-radius: 2px solid black;
}